:root {
  --bg-color: #0d0d0d;
  --text-color: #c0baa5;
  --border-color: #c0baa5;
  --highlight-color: #c0baa5;
}

/*
@media (prefers-color-scheme: light) {
    :root {
      --bg-color: #f3f2ee;
      --text-color: #1a1a1a;
      --border-color: #1a1a1a;
      --highlight-color: #333333;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
      --bg-color: #0d0d0d;
      --text-color: #c0baa5;
      --border-color: #c0baa5;
      --highlight-color: #c0baa5;
    }
}
*/

::selection {
    background: var(--highlight-color); 
    color: var(--bg-color);
}

::-moz-selection {
    background: var(--highlight-color); 
    color: var(--bg-color);
}

body {
    background: var(--bg-color); 
    color: var(--text-color);
	font-family: "Montserrat", sans-serif;
    padding: 20px;
    line-height: 1.4;
}

p {
    line-height: 1.3;
}

a {
    text-decoration: wavy underline;
    color: var(--border-color);
}


h1 {
    font-weight: 500;
    font-style: normal;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 4px;
}

h2 {
    font-weight: normal;
    font-style: italic;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 16px;
}

h3 {
    font-style: bold;
    font-size: 16px;
    margin: 0;
}

.ruler {
    display: flex;
    width: 100%;
    border-bottom: 2px solid var(--border-color);
}
.container {
    max-width: 914px;
    margin: 0 auto;
}

.nav-top {
    user-select: none;
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--border-color);
    line-height: 1.65;
}

.nav-top a {
    text-decoration: none;
    color: var(--text-color);
    border-bottom: 3px solid var(--bg-color);
}

.nav-top a:hover {
    text-decoration: none;
    border-bottom: 3px solid var(--border-color);
}

@media (max-width: 600px) {
    .nav-top {
        flex-direction: column;
        gap: 5px;
    }

}

.heading {
    display: flex;
    gap: 20px;
}

.heading h1 {
    padding-top: 10px;
}


.info-socials {
    margin: 0;
}
.info-socials ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 10px;
    padding: 0;
}
.info-socials ul a {
    color: var(--text-color);
    text-decoration: none;
    border-bottom: 2px solid var(--border-color);
}

.info-socials ul a:hover {
    border-bottom: 3px solid var(--border-color);
    transition: border-bottom;
}

.bio {
    margin-top: 10px; 
}

.experience {
    margin-top: 10px; 
}

.skills {
    margin-top: 10px;
}


.skills ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    padding-left: 0;
}

.skills ul li {
    padding-right: 10px;
}

.dot {
    display: flex;
    align-items: center;

    color: var(--text-color);

    margin: 0 8px;
    font-size: 1.5rem;

    user-select: none;
}

.footer {
    margin-top: auto;
}

.box {
    display: flex;
    flex-direction: column;
}

.box .main {
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
}
.box .main .title {
    font-weight: 500;
    font-size: 18px;
}

.box .desc {
    padding: 5px 5px;
}
